blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}

body, button, input, select, textarea {
    font: 12px/1.5 tahoma,arial,"Hiragino Sans GB",宋体,sans-serif;
}

body {
    color: #3c3c3c;
    overflow-x: hidden;
}
a {
    text-decoration: none;
}
a img {
	display: block;
}
.clear{
	clear:both;
	overflow: hidden;
}

.wrap {
    margin: 0 auto;
    position: relative;
    width: 1000px;
}

#site-head {
    background: none repeat scroll 0 0 #499528;
    z-index: 10000;
    border-bottom: 1px solid #eee;
    width: 100%;
    height:60px;
    overflow:hidden;
    position: relative;
}
#site-logo{
	float:left;
	margin-right:20px;
}
#site-nav{
	text-decoration: none;
}
#site-nav li{
	float:left;
	list-style-type:none;
}
#site-nav li a{
	color:#fff;
	display: inline;
    float: left;
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    font-size: 18px;
    font-weight:bold;
    padding:0 15px;
}
.stite-nav-select {
	background-color:#3d7722;
}
#footer{
	border-top: 1px solid #d2d2d2;
	background: none repeat scroll 0 0 #e4e4e4;
	padding:15px 0;
	margin-top:30px;
	position: relative;
}

.container{
	margin-top:20px;
}

.index-block{
	float:left;
}
#index-block-ksrk {
	float:left;
	height: 60px;
	width:300px;
	overflow:hidden;
}
.index-list {
	float:left;
	width: 240px;
	overflow: hidden;
	margin-right:10px;
}
.index-list-head img, .index-list-footer img {
	display: block;
	overflow: hidden;
}
.index-list ul {
	padding:5px 0;
}
.index-list li{
	padding:3px 0 3px 20px;
	list-style-type:none;
	background: url("/assets/img/index-sj.png") no-repeat 15px 8px;
}
.index-list li a {
	color:#fff;
    overflow: hidden;
    font-size: 16px;
    font-weight:bold;
    padding:0 15px;
}
li.index-list-more {
	background-image: none;
}
li.index-list-more a {
	font-size: 12px;
}

#index-list-1 {
	background-color: #4ea3da;
}
#index-list-2 {
	background-color: #e6c311;
}
#index-list-3 {
	background-color: #b88bcc;
}
#index-list-4 {
	background-color: #e77d70;
}

#topic-tools{
	background: none repeat scroll 0 0 #333333;
	width:100%;
	position: relative;
	padding:10px 0;
}
.topic-btn{
	float:left;
	margin-left: 10px;
	background-image: url("/assets/img/topic-btn.png");
}
#topic-btn-1{
	background-position:-50px -533px;
	width: 100px;
	height: 40px;
}
#topic-btn-1:hover{
	background-position:-50px -488px;
}
#topic-btn-2{
	background-position:-50px -691px;
	width: 100px;
	height: 40px;
}
#topic-btn-2:hover{
	background-position:-50px -639px;
}
#topic-btn-3{
	background-position:-160px -691px;
	width: 100px;
	height: 40px;
}
#topic-btn-3:hover{
	background-position:-160px -639px;
}
#topic-btn-4{
	background-position:-270px -691px;
	width: 100px;
	height: 40px;
}
#topic-btn-4:hover{
	background-position:-270px -639px;
}
#topic-btn-5{
	background-position:-380px -691px;
	width: 150px;
	height: 40px;
}
#topic-btn-5:hover{
	background-position:-380px -639px;
}
#topic-btn-6{
	float: right;
	background-position:-540px -691px;
	width: 150px;
	height: 40px;
}
#topic-btn-6:hover{
	background-position:-540px -639px;
}
#topic-btn-7{
	float: left;
	background-position:-539px -588px;
	width: 110px;
	height: 40px;
}
#topic-btn-7:hover{
	background-position:-539px -542px;
}
#topic-btn-8{
	float: left;
	background-position:-658px -484px;
	width: 110px;
	height: 40px;
}
#topic-btn-8:hover{
	background-position:-658px -439px;
}
#topic-btn-9{
	float: left;
	background-position:-777px -484px;
	width: 110px;
	height: 40px;
}
#topic-btn-9:hover{
	background-position:-777px -439px;
}
#topic-btn-10{
	float: left;
	background-position:-538px -484px;
	width: 110px;
	height: 40px;
}
#topic-btn-10:hover{
	background-position:-538px -439px;
}
#topic-btn-11{
	float: left;
	background-position:-418px -484px;
	width: 110px;
	height: 40px;
}
#topic-btn-11:hover{
	background-position:-418px -439px;
}
#topic-btn-checkbox {
	color:#fff;
}
#topic-btn-checkbox input, #topic-btn-checkbox label {
	vertical-align:middle;
}

#answers{
	position:relative;
	min-height: 300px;
	overflow: hidden;
}
.answers-list td{
	padding: 10px 5px;
	vertical-align: middle;
}
.answers-list .flag{
	font-size: 16px;
}
.flag label{
	position:relative;
}
.flag-true{
	display: none;
	position: absolute;
	left:-4px;
	top:0px;
	width: 20px;
	height: 20px;
	background: url("/assets/img/topic-true.jpg") no-repeat 0 0;
}
.flag-false{
	display: none;
	position: absolute;
	left:-4px;
	top:0px;
	width: 20px;
	height: 20px;
	background: url("/assets/img/topic-false.jpg") no-repeat 0 0;
}
.correcting-true .flag-true {display: block;}
.correcting-false .flag-false {display: block;}

#disabuse-box{
	background-color: #f1f1f1;
	height: 100%;
	width:100%;
}
#disabuse-tit{
	padding:10px;
	font-weight:bold;
}
#disabuse-con{
	padding:10px;
}
#disabuse{
	position: absolute; 
	top:0;
	height: 100%;
	width: 250px;
	padding-left:26px;
}
.disabuse-open {
	right:0;
}
.disabuse-close {
	right:-250px;
}
.disabuse-close #disabuse-flag{
	width: 26px;
	height: 50px;
	position:absolute; 
	top:48%;
	left:0;
	cursor:pointer; 
	background-image: url("/assets/img/topic-btn.png");
	background-position:-1234px -378px;
}
.disabuse-open #disabuse-flag{
	width: 26px;
	height: 50px;
	position:absolute; 
	top:48%;
	left:0;
	cursor:pointer;
	background-image: url("/assets/img/topic-btn.png");
	background-position:-1234px -456px;
}
#save_button{
	position:absolute; 
	top:-100%;
	left:-100%;
	z-index:-999;
}